
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  /* background-color: #333; */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  /* color: white; */
  padding: 10px;
}

.left-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
}

.left-title {
  font-size: 2em;
  font-weight: bold;
  margin-left: 2px;
}

.right-links {
  display: flex;
}

.right-links a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  transition: transform 0.1s ease;
  font-weight: bold;
  font-size: 1.5em;
}

.right-links a:hover {
  transform: scale(1.1);
}
/* Define the initial state for the text */
a {
  position: relative;
  text-decoration: none;
  color: orange; /* Set your desired text color */
  overflow: hidden;
}

/* Create a pseudo-element for the underline */
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.5s ease;
}

a:hover::before {
  width: 100%;
}

a:not(:hover)::before {
  width: 0;
}
/* TopPerformers.css */
/* TopPerformers.css */

.top-performers-container {
  text-align: center;
  padding: 20px;
  background-color: rgb(248, 231, 187);
  border-radius: 8px;
  /* margin: 20px; */
}

h2 {
  color: #0c0c0c;
  font-size: 24px;
  margin-bottom: 20px;
}

.performers-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.performer-card:hover {
  transform: scale(1.05); /* Scale the card on hover */
}

.performer-photo {
  width: 80px;
  height: 80px;
  object-fit: scale-down; 
  border-radius: 50%; 
  margin: 20px auto; 
  display: block;
}

.performer-details {
  margin-top: 10px;
}
.mb-2{
  color: rgb(0, 7, 12);
}

.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  color: black;
  font-weight: bold;
}

.rank-1 {
  background-color: gold;
}

.rank-2 {
  background-color: silver;
}

.rank-3 {
  background-color: #cd7f32; /* Bronze color */
}

.rank-4 {
  background-color: greenyellow; /* Bronze color */
}

.rank-5 {
  background-color: rgb(153, 153, 224); /* Bronze color */
}

.performer-card {
  text-align: center;
  margin: 10px 1px;
  transition: transform 0.1s; /* Add transition for card scaling */
}

/* Footer */
.contact{
  margin-top: 10%;
  background-color: #9B4819;
  color: #F4F1E8;
  overflow-x: hidden;
  /* margin-bottom: 5%; */
}
.socials{
  margin-top: 5%;
  margin-left: 5%;
}

.contact-message{
  font-size: 5.5vh;
  padding-right: 40%;
  margin-top: 5%;
}
.contact-hr{
  color: #F4F1E8;
  height: 3px;
  width: 50%;

}
.footer{
  margin-top: 5%;
  font-size: larger;
}
.icon-container {
  display: flex; /* Display the icons in a row */
  justify-content: center; /* Center align the icons horizontally */
  gap: 20px; /* Add space between the icons */
  margin-top: 20px; /* Add top margin */
}

.bi-linkedin::before {
  margin: 2px;
  content: "\f472";
  font-size: 28px;
}

.bi-github::before {
  margin: 2px;
  /* content: "\f472"; */
  font-size: 28px;
}



.footer-links{
  margin-right: 1%;
}
.cursor{
  cursor: pointer;
}